/*=====================================
sendPage（送信完了ページ）
======================================*/
.pg-sendPage {
    & .container {
        text-align: center;
        padding: 84px 0;
    }
    & .desc {
        line-height: 1.31;
        text-align: center;
        margin-bottom: 94px;
    }
}