/*=====================================
archive-newsPage（お知らせ一覧ページ）
======================================*/
.pg-archive-newsPage {
    & .container {
        padding: 58px 0 46px;
    }
    & .news {
        &__menu {
            margin: 32px 0 65px;
            border-top: 1px solid $color_gray--littleBright;
        }
        &__li {
            padding: 23px 0 24px;
            border-bottom: 1px solid $color_gray--littleBright;
            line-height: 1.5;
            @include mq-down(sm) {
                font-size: 1.4rem;
            }
            &__inner {
                display: flex;
                @include mq-down(sm) {
                    flex-direction: column;
                }
            }
            &:hover {
                font-weight: bold;
            }
        }
        &__time {
            width: 100px;
            margin: 0 38px 0 0;
            @include mq-down(sm) {
                width: 80px;
                margin: 0 0 8px 0;
            }
        }
        &__txt {
            flex: 1;
            text-decoration: underline;
        }
    }
}