.p-promotionArea {
    &__banner {
        width: 100%;
        height: 256px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-image: url("../images/cta.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: $color_white;
        &__ttl {
            font-size: 3.2rem;
            font-weight: bold;
            line-height: 1.34;
            margin-top: 24px;
            margin-bottom: 14px;
            @include mq-down(md) {
                font-size: 2.2rem;
            }
        }
        &__btn {
            width: 280px;
            height: 50px;
            line-height: 50px;
            border-radius: 25px;
            overflow: hidden;
            margin-bottom: 18px;
        }
    }
    &__phone {
        padding: 22px 0;
        text-align: center;
        & span {
            @include mq-down(md) {
                display: block;
                line-height: 2;
            }
        }
        &__txt {
            font-weight: bold;
        }
        &__num {
            font-size: 2rem;
            font-weight: bold;
            @include mq-up(md) {
                margin-left: 20px;
            }
            @include mq-up(sm) {
                font-size: 2.6rem;
            }
            @include mq-up() {
                font-size: 3.6rem;
                margin-left: 38px;
            }
        }
        &__time {
            @include mq-up(md) {
                margin: 0 107px 0 20px;
            }
            @include mq-up() {
                margin: 0 107px 0 20px;
           }
        }
    }
}